header {
    background-color: #630f0f;
    color: #ffffff;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: #FFFFFF;
    color: #533535;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
}

.artigo-autor {
    font-weight: bold;
}